---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
}

const { title, description, image } = Astro.props;
---

<div class="swiper-slide shadow-md rounded-3xl min-h-full">
  <Image
    src={image}
    alt=`Imagen del plan de: ${title}`
    class="rounded-t-3xl w-full h-96"
  />
  <div class="p-5">
    <h4 class="text-xl font-bold">
      {title}
    </h4>
    <h5 class="secondary-color">
      {description}
    </h5>
  </div>
</div>
