---
import TitleDivider from "./TitleDivider.astro";
import CareerList from "./Careers/CareerList.jsx";
---

<header class="flex justify-center text-center flex-col mb-40">
  <h3 class="primary-color uppercase text-sm font-bold mb-2">
    Propuestas formativas
  </h3>
  <h1 class="text-4xl">
    Carreras De <span class="primary-color">INFORMÁTICA</span>
  </h1>
  <div class="text-center m-auto">
    <TitleDivider />
  </div>
  <CareerList client:visible />
</header>
