---
import Carousel from "./Plans/Carousel.astro";
import SectionTitle from "./SectionTitle/SectionTitle.astro";
---

<SectionTitle
  epigraph="Planes"
  blueTitle="Comparalos"
  title="Analizalos, Leelos Y"
  id="planes"
>
  <div class="px-10">
    <Carousel />
  </div>
</SectionTitle>
