---
import Carousel from "./Plans/Carousel.astro";
import SectionTitle from "./SectionTitle/SectionTitle.astro";
---

<SectionTitle
  epigraph="Planes"
  blueTitle="Comparalos"
  title="Analizalos, Leelos Y"
>
  <div class="my-40">
    <Carousel />
  </div>
</SectionTitle>
